.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
EGPieChart.xcodeproj/project.xcworkspace/contents.xcworkspacedata
EGPieChart.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
